.home-wrapper {
  height: 100svh;
  background-color: rgb(30, 30, 30);
  color: white;
}

.home-image-input-wrapper {
  height: 100%;
  border: 1px solid orange;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-image-dropzone {
  border: 1px solid green;
  width: 80%;
  height: 225px;
  position: relative;
}

.dropzone-header {
  /* border: 1px solid orange; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  white-space: nowrap;
}

.preview-wrapper {
  border: 1px solid blue;
  width: 80%;
  /* position: relative; */
  display: flex;
  flex-direction: column;
}

.preview-header {
  /* border: 1px solid green; */
  text-align: center;
  /* font-size: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; */
}

.image-preview-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ind-image-wrapper {
  border: 1px solid orange;
  /* width: fit-content; */
  position: relative;
}

.image-preview {
  width: 250px;
  height: 250px;
  object-fit: cover;
  /* border: 1px solid orange; */
}

.remove-image {
  position: absolute;
  top: 0;
  right: 8px;
}
