.home-wrapper {
  height: 100svh;
  background-color: rgb(30, 30, 30);
  color: white;
}

.home-image-input-wrapper {
  height: 100%;
  /* border: 1px solid orange; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-image-title-wrapper {
  /* border: 1px solid red; */
  margin-bottom: 10px;
}

.home-image-title-input {
  background-color: rgb(50, 50, 50);
  border: none;
  border-radius: 8px;
  color: white;
  height: 35px;
  width: 250px;
  text-align: center;
}

.home-image-title-input:focus {
  outline: none;
}

.home-image-title-input::placeholder {
  color: rgb(120, 120, 120);
}

.home-image-dropzone {
  /* border: 1px solid green; */
  border-radius: 8px;
  background-color: rgb(50, 50, 50);
  width: 80%;
  height: 225px;
  position: relative;
  margin-bottom: 10px;
}

.dropzone-header {
  /* border: 1px solid orange; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  white-space: nowrap;
  color: rgb(120, 120, 120);
  font-size: 20px;
}

.preview-wrapper {
  /* border: 1px solid blue; */
  width: 80%;
  /* position: relative; */
  display: flex;
  flex-direction: column;
}

.preview-header {
  /* border: 1px solid green; */
  text-align: center;
  font-size: 20px;
  color: rgb(120, 120, 120);
  margin-bottom: 10px;
}

.image-preview-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ind-image-wrapper {
  /* border: 1px solid orange; */
  position: relative;
}

.image-preview {
  /* border: 1px solid orange; */
  width: 200px;
  object-fit: cover;
}

.remove-image {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  font-size: 16px;
  color: red;
  padding: 4px;
}

.remove-image:hover {
  cursor: pointer;
}

.preview-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.submit-btn {
  background-color: transparent;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  color: rgb(120, 120, 120);
}

.submit-btn:hover {
  background-color: rgb(150, 150, 150);
  color: black;
  cursor: pointer;
}
